{% for record in __SELF__.items %}

    <div class="record-box {{ cssClass }}">

        {% if record.preview_image %}
            <img alt="{{ record.name }}" src="{{ record.preview_image.getPath }}" />
        {% endif %}

        {% if record.preview_image_media %}
            <img alt="{{ record.name }}" src="{{ record.preview_image_media|media }}" />
        {% endif %}

        <h3>
            <a href="{{detailPageSlug|page({(detailPageParam):record.slug})}}">
                {{ record.name }}
            </a>
        </h3>

    </div>

{% endfor %}
